body {
    margin: 0;
    padding: 0;
    font-color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Favicon */
<link rel="icon" type="image/png" href="images/favicon.png">

