.popover {
    visibility: hidden;
    position: absolute;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    width: calc(100% - 2px); /* Adjusted width */
    z-index: 1;
    margin-top: 100%;
    padding: 0; /* Removed padding */
}

.popover li h2 {
    padding: 0;
    margin: 0;
}

.popover_list {
    padding: 0;
    margin: 0;
    padding-left: 10%;
}

li {
    list-style-type: none;
    padding-bottom: 5%;
}

ul {
    padding: 0; /* Removed padding */
    margin: 0; /* Removed margin */
}

